@import url('https://fonts.googleapis.com/css2?family=Fuggles&family=Kalnia:wght@300;400;500;600&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Vidaloka&family=Yeseva+One&family=Zen+Maru+Gothic:wght@300;400;500;700&display=swap');
*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Color Palette */

:root {
    --dark-green: #163832;
    --mid-green: #255932;
    --light-green: #B9C5AD;
    --black: #070D07;
    --orange: #F9BC60;
    --tan: #A68241;
    --beige: #F2DCB3;
    --white: #EDEADE;
    --black-transparent: #080C08C8;
}

/* header styles */

.logo {
    font-family: "Fuggles", serif;
    font-size: 6rem;
    color: var(--white);
    background-color: var(--dark-green);
    text-align: center;
}

.navbar {
    display: grid;
    text-align: center;
}

.navbar .nav-menu {
    font-family: "Kalnia", serif;
    font-size: 1.75rem;
    color: var(--white);
    background-color: var(--black);
    padding: 0.25rem 0;
    border-top: 1px solid var(--white);
    border-bottom: 1px solid var(--white);
}

.navbar .nav-menu ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}

/* Home page Styles */

.home-hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    text-align: center;
    color: var(--white);
    background-image: url("../images/1.png");
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
}

.home-hero .hero-content {
    width: 90%;
    height: 50%;
}

.home-hero .hero-tagline {
    font-size: 2rem;
    font-family: "Kalnia", serif;
    font-weight: 400;
    padding: 1rem;
}

.home-hero .home-button {
    font-family: 'Kalnia', serif;
    font-size: 1.75rem;
    font-weight: 800;
    text-transform: uppercase;
    background-color: transparent;
    border: 2px solid var(--orange);
    border-radius: 4px;
    color: var(--white);
    padding: 0.25rem 0.75rem;
}

/* Footer Styles */

.page-footer {
    font-family: 'Kalnia', serif;
    font-size: 1rem;
    text-align: center;
    position: fixed;
    bottom: 0;
    color: var(--white);
    background-color: var(--black);
    width: 100%;
}

/* Page & Post Styles */

.page-banner, .post-title {
    text-align: center;
    font-family: "Kalnia", serif;
    font-size: 2.5rem;
    font-weight: 400;
    background: var(--dark-green);
    color: var(--white);
    border-bottom: 1px solid var(--orange);
}

.page-content, .post-content {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    background: var(--white);
}

.page-content p {
    font-size: 1.5rem;
    font-family: 'Zen Maru Gothic', sans-serif;
    margin: 1rem auto;
}

/* Accommodation Styles */

.mphb_sc_rooms-wrapper {
    display: grid;
}

.mphb-room-type, .post-text {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 1rem auto;
}

.post-text ul {
    list-style: none;
}

.mphb-room-type ul {
    list-style: none;
}

.mphb-room-type img {
    width: 100%;
    height: auto;
    border: 1px solid #F9BC60;
}

.mphb_sc_rooms-wrapper p {
    font-family: 'Zen Maru Gothic', sans-serif;
    font-size: 1.25rem;
}

.mphb-room-type-title, .mphb-room-type-details-title, .mphb-details-title, .mphb-calendar-title, .mphb-reservation-form-title {
    font-family: "Kalnia", serif;
    font-size: 2rem;
    font-weight: 400;
    color: var(--black);
    text-decoration: none;
}

.entry-title, .mphb-room-type-details-title, .mphb-details-title, .mphb-calendar-title, .mphb-reservation-form-title {
    border-bottom: 1px solid var(--dark-green);
}

.mphb-loop-room-type-attributes, .mphb-single-room-type-attributes, .mphb-regular-price, .mphb-booking-form {
    font-family: 'Zen Maru Gothic', sans-serif;
    color: var(--black);
    font-size: 1.25rem;
    margin: 1rem auto;
}

.mphb-view-details-button {
    border-bottom: 1px solid var(--dark-green);
}

.mphb-book-button {
    font-family: 'Kalnia', serif;
    font-size: 1.5rem;
    font-weight: 800;
    text-transform: uppercase;
    background-color: var(--light-green);
    border: 2px solid var(--dark-green);
    border-radius: 4px;
    color: var(--black);
    padding: 0.25rem 0.75rem;
    margin: 1rem auto;
}

/* Calendar Styles */

.mphb-calendar {
    font-family: 'Zen Maru Gothic', sans-serif;
    color: var(--black);
    font-size: 1.5rem;
    margin-top: 1rem;
    width: 100%;
}

/* Booking Form Styles */

.mphb-booking-form {
    margin-bottom: 1rem;
}

.mphb-reserve-btn {
    font-family: 'Kalnia', serif;
    font-size: 1.5rem;
    font-weight: 800;
    text-transform: uppercase;
    background-color: var(--light-green);
    border: 2px solid var(--dark-green);
    border-radius: 4px;
    color: var(--black);
    padding: 0.25rem 0.75rem;
    margin: 1rem 0;
}

/* Search Results after checking availability */

.mphb_sc_search_results-wrapper {
    font-family: 'Zen Maru Gothic', sans-serif;
    color: var(--black);
    font-size: 1.5rem;
    margin-top: 1rem;
    width: 90%;
    margin: 1rem auto;
}

.mphb-recommendation-title {
    font-family: 'Zen Maru Gothic', sans-serif;
    font-size: 1.25rem;
    margin-top: 1rem;
    width: 90%;
}

.mphb-recommendation {
    font-family: 'Zen Maru Gothic', sans-serif;
    font-size: 1.5rem;
    margin-top: 1rem;
    border-radius: 4px;
    border: 1px solid var(--orange);
    padding: 1rem;
    background-color: var(--dark-green);
    color: var(--white);
}

.mphb-recommendation ul {
    list-style: none;
}

.mphb-recommendation-total {
    font-weight: bold;
}

.mphb-recommendation-reserve-button {
    font-family: 'Kalnia', sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
    background-color: transparent;
    border: 2px solid var(--orange);
    border-radius: 4px;
    color: var(--white);
    padding: 0.25rem 0.75rem;
    margin-top: 1rem;
}


/* Spa Styles */

.wp-block-group__inner-container {
    font-family: 'Zen Maru Gothic', sans-serif;
}

