@import url('https://fonts.googleapis.com/css2?family=Allura&family=Fuggles&family=Kalnia:wght@300;400;600;700&family=Spectral:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Style+Script&display=swap');

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #001E1D;
    color: #FFFFFE;
}

a {
    color: inherit;
    text-decoration: none;
}

/* navbar styles */

.logo {
    font-size: 6rem;
    font-family: 'Fuggles', serif;
}

.navbar {
    display: grid;
    text-align: center;
}

.navbar .nav-menu {
    font-family: 'Kalnia', serif;
    font-size: 1.75rem;
    padding: 0;
    border-top: 1px solid #FFFFFE;
    border-bottom: 1px solid #FFFFFE;
    background: #004643;
}

.navbar .nav-menu ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    padding: 0;
    margin: 0.25rem;
}

.navbar .nav-menu li a:hover {
    border-bottom: 2px solid #FFFFFE;
}

/* Home Page */

.home-hero {
    height: 80dvh; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url("../images/hero-bg-2.png");
    background-size: cover;
    background-position: center center;
}

.home-hero .hero-content {
    padding: 1rem 2rem;
    margin: 20px;
}

.home-hero .hero-headline {
    font-size: 4rem;
    font-family: 'Kalnia', serif;
    padding: 0.75rem;
    border-bottom: 1px solid #FFFFFE;
}

.home-hero .hero-tagline {
    font-size: 2rem;
    font-family: 'Kalnia', serif;
    padding: 1rem;
    font-weight: 300;
}

.home-hero .home-button {
    padding: 0.5rem;
    font-family: 'Kalnia', serif;
    font-size: 2rem;
    font-weight: 800;
    background-color: #F9BC60;
    color: #001E1D;
}

/* Home Page Grid */

.home-page-grid {
    display: flex;
    padding: 0.5rem;
    align-items: stretch;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.hero-grid-heading {
    font-size: 3rem;
    font-family: 'Kalnia', serif;
    text-align: center;
    line-height: 1.4;
    padding: 20px 0;
}

.grid-content {
    padding: 2rem;
}

.grid-item {
    width: 30rem;
    margin: 1rem 0.75rem;
    line-height: 2.5rem;
    font-family: 'Kalnia', serif;
    width: 30rem;
    border-radius: 0 7px 10px 7px;
    border-radius: 7px 7px 7px 7px;
        -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    border: 1px solid #F9BC60;
    background: #004643;
}

.grid-heading {
    font-size: 2.25rem;
    margin-bottom: 1.5rem;
    font-family: 'Kalnia', serif;
    padding: 0.75rem;
}

.grid-text {
    font-family: 'Kalnia', serif;
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 1.5rem;
    padding: 0.75rem;
}

.grid-button {
    padding: 0.5rem;
    font-family: 'Kalnia', serif;
    font-size: 2rem;
    font-weight: 800;
    text-transform: uppercase;
    background-color: #F9BC60;
    color: #001E1D;
    margin-left: auto;
    margin-right: auto;
}

/* Page Styles */

.page-banner {
    padding: 0;
    text-align: center;
}

.page-banner-title {
    font-family: 'Kalnia', serif;
    font-size: 3rem;
    text-align: center;
    font-weight: 400;
}

.page-container {

}

.page-title, .post-title {
    font-family: 'Kalnia', serif;
    font-size: 3rem;
    margin: 1.25rem;
}

.page-content {
    font-family: 'Kalnia', serif;
}

.page-content p {
    font-size: 1.25rem;
    margin: 1.25rem;
}

.page-content .post-btn {
    padding: 0.5rem;
    font-family: 'Kalnia', serif;
    font-size: 1rem;
    text-align: center;
}

/* Post Styles */

.post-container p {
    font-size: 1.25rem;
    margin: 1.25rem;
}

.post-title {
    font-family: 'Kalnia', serif;
}

.post-content {
    font-family: 'Kalnia', serif;
    padding: 0.5rem;
}

/* Booking Form */

.ea-bootstrap {
    display: flex;
    justify-content: center;
    z-index: 10;
}

.ea-bootstrap .form-control {
    width: 300px;
}

.step {
    font-family: 'Kalnia', serif;
    font-size: 1rem;
}

input[type="text"]:focus {

}

/* Footer Styles */

.page-footer {
    font-family: 'Kalnia', serif;
    text-align: center;
    font-size: 24px;
    line-height: 1.4;
    text-transform: uppercase;
    padding: 20px 0;
    width: 100%;
    bottom: 0;
    border-top: 1px solid #FFFFFE;
    margin-top: 2.5rem;
}

/* Media queries for smaller screens */

@media (max-width: 800px) {

}

@media (max-width: 600px) {

}

@media (max-width: 400px) {

.home-hero .hero-content {
    padding: 0.25rem;
    margin: 0;
}

.home-hero .hero-headline {
    font-size: 3rem;
}

.home-hero .hero-tagline {
    font-size: 1.5rem;
}

.home-hero .home-button {
    font-size: 1.25rem;
}

.navbar .nav-menu {
    font-size: 1rem;
}
}

@media (max-width: 360px) {

}




